<footer id="footer">
    <div id="copyrights" style="padding:1.5em; background-color:#cdccb9;">

        <div class="container clearfix">

            <div class="col_half " style="margin-bottom: 0">
               <a style = "color:black" href="/">Copyrights &copy; 2019 All Rights Reserved by Yalla Barista.</a>
                <div class="copyright-links"><a href="/terms">Terms of Use</a> / <a href="/privacy">Privacy Policy</a></div>
            </div>

            <div class="col_one_fourth d-flex justify-content-left" style="margin-bottom: 0">

            </div>
            <div class="col_one_fourth col_last d-flex justify-content-right" style="margin-bottom: 0">
                <div class="fright clearfix">
                    <a href="https://www.instagram.com/yallabarista" class="social-icon si-large si-dark si-rounded si-instagram">
                        <i class="icon-instagram"></i>
                        <i class="icon-instagram"></i>
                    </a>
                </div>
                <div class="fright clearfix">
                    <a href="#" class="social-icon si-large si-dark si-rounded">
                        <i class="icon-cc-mastercard"></i>
                        <i class="icon-cc-mastercard"></i>
                    </a>
                </div>
                <div class="fright clearfix">
                    <a href="#" class="social-icon si-large si-dark si-rounded">
                        <i class="icon-cc-visa"></i>
                        <i class="icon-cc-visa"></i>
                    </a>
                </div>
            </div>

        </div>

    </div><!-- #copyrights end -->


</footer><!-- #footer end -->