<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<title>Forgot Password</title>

	<style>
		label{
			color:white !important
		}

		.w-100{
			width: 100% !important
		}
	</style>
</head>



<body>
	<section id = "box" class="container d-flex justify-content-center text-center" style="height: 100vh;">
		<div id = "box2" class="m-auto d-flex justify-content-center align-items-center"
			style="width: 80%; height: 80vh; background:url(/images/img10.jpeg) center no-repeat; background-size: contain">

			<form action="/forgot" method="POST" id = "forgot">
				<legend style="color: white">Forgot Password</legend>
				<% if(error && error.length > 0) { %>
				
					<div class='alert alert-danger' role='alert'>
						<%= error %>
					</div>
					<% } %>
					<% if(success && success.length > 0) { %>
					<div class='alert alert-success' role='alert'>
						<%= success %>
					</div>
				
				<% } %>
				<div class="form-group">
					<label style="color: white" for="email">Enter the email address for the account:</label>
					<input type="email" id ="email" name="email" autofocus class="form-control">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Reset Password">
				</div>
			</form>
		</div>

	</section>



</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.js"></script>
<script>

$("#forgot").validate({
	rules: {
		 email: {
			required: true,
			email:true,
		}
	},
	messages: {
		email: {
		   required: 'Enter your email address',
		   email: 'Must be an Email address'
	   },
	},
});

$(window).resize(function() {
  if ($(window).width() < 401) {
	 $('#box').addClass('row')
	 $('#box2').addClass('col-sm-12 w-100')
  }
 else {
	$('#box').removeClass('row')
	 $('#box2').removeClass('col-sm-12 w-100')
 }
});

</script>