<%include partials/head.ejs%>

<body class="stretched">

	<%include partials/modals.ejs%>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="split-menu transparent-header dark" data-sticky-class="not-dark"
			data-responsive-class="not-dark">

			<div id="header-wrap" class="full-background" style="background:#000000">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="images/clogo.png"><img
								src="images/clogo.png" alt="Canvas Logo"></a>
						<a href="/" class="retina-logo" data-dark-logo="images/clogo.png"><img
								src="images/clogo.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="with-arrows clearfix not-dark">

						<%include partials/navitems.ejs%>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="slider-element full-screen changed-home-page slider-parallax">
			<div class="slider-parallax-inner"
				style="background: #000000 center top no-repeat; background-size: cover;">
			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">



			<div class="content-wrap" id="about">
				<div id="section-about" class=""
					style="padding: 5em 0; color: #999; background-color: #cdccb9; border-bottom: 1px solid #E5E5E5; margin-top:0">
					<div class="container clearfix">

						<div class="row topmargin-lg clearfix">


							<div class="col-lg-4 bottommargin">
								<i class="i-plain i-large changed-icon icon-drink inline-block"
									style="margin-bottom: 30px; color: #999;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<h4 style="font-size: 16px;"></h4>



								

								</div>
								<p class="black-text" style="line-height: 26px; text-align: justify">We specialize in
									finding some of the
									best baristas in your city. YallaBarista provides a service of finding dedicated
									full time experienced Baristas for coffee shops, restaurants and events across the
									UAE. All Baristas are carefully chosen for their coffee making skills, Knowledge of
									the bean and coffee industry, customer service and Latte art. Our clients are based
									in the UAE and the Middle East however we can help your recruitment needs and find
									Baristas all over the world.
								</p>
							</div>

							<div class="col-lg-4 bottommargin">
								<i class="i-plain i-large changed-icon icon-cup inline-block"
									style="margin-bottom: 30px; color: #999;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<h4 style="font-size: 16px;"></h4>
								</div>
								<p class="black-text" style="line-height: 26px; text-align: justify">Finding good
									Baristas can be time
									consuming, Time which can be spent on growing the business instead of browsing
									through lots of sites, posting on community groups, arranging interviews and looking
									through hundreds of Cvs. YallaBarista does all the above and handpicks the best
									baristas in your area letting you browse through the very best in no time.</p>
							</div>

							<div class="col-lg-4 bottommargin">
								<i class="i-plain i-large changed-icon icon-coffee inline-block"
									style="margin-bottom: 30px; color: #999;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<h4 style="font-size: 16px;"></h4>
								</div>
								<p class="black-text" style="line-height: 26px; text-align: justify">We are always
									looking for experienced
									baristas. Whether you are specialty trained or not we will find the right company
									for you.</p>
							</div>

							<div class="col-lg-4 bottommargin">
								<i class="i-plain i-large changed-icon icon-coffee1 inline-block"
									style="margin-bottom: 30px; color: #999;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<h4 style="font-size: 16px;"></h4>
								</div>
								<p class="black-text" style="line-height: 26px; text-align: justify"> Our clients vary
									from International
									Coffee chains to independent coffee shops. </p>
							</div>

							<div class="col-lg-4 bottommargin">
								<i class="i-plain i-large changed-icon icon-circle2 inline-block"
									style="margin-bottom: 30px; color: #999;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<h4 style="font-size: 16px;"></h4>
								</div>
								<p class="black-text" style="line-height: 26px; text-align: justify">We also offer
									consultation and management services for your coffee shop. So if you are looking to
									start a new concept or already need help with your existing one then get in touch
									now.
								</p>
							</div>

							<div class="col-lg-4 bottommargin">
								<i class="i-plain i-large changed-icon icon-line2-cup inline-block"
									style="margin-bottom: 30px; color: #999;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<h4 style="font-size: 16px;"></h4>
								</div>
								<p class="black-text" style="line-height: 26px; text-align: justify">When we find you
									the right Barista we
									charge a flat fee of 2500AED per Barista.
								</p>
							</div>
						</div>
					</div>
				</div>

			</div>


			<%if(!currentUser){ %>
			<div class="container clearfix">

				<div id="pricing" class="page-section nopadding nomargin">

					<h3 style="text-align: center">Barista Subscription</h3>

					<div id="price-locations" style="text-align:center">

						<button id="uae" class="btn btn-md btn-danger btn-custom">UAE</button>
						<button id="usa" class="btn btn-md btn-danger btn-custom">USA</button>
						<button id="uk" class="btn btn-md btn-danger btn-custom">UK</button>

					</div>

					<div id="pricing-switch" class="pricing row bottommargin-lg clearfix justify-content-center">

						<div class="col-lg-6">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Basic</h3>
								</div>
								<div class="pricing-price">
									FREE<span class="price-tenure" style="opacity: 0">Limited Access</span>
								</div>
								<div class="pricing-features">
									<ul>
										<li><strong>Full</strong> Access</li>
										<li><strong>CV</strong> Upload</li>
										<li><strong>Telephone</strong> Interview</li>
										<li><strong>Personal</strong> Profile</li>
									</ul>
								</div>
								<div class="pricing-action">
									<a href="#modal-get-started" data-lightbox="inline" data-pricing-plan="Starter Plan"
										class="button button-large capitalize ls0"
										style="">Sign Up</a>
								</div>
							</div>

						</div>

						<div class="col-lg-6">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>Premium</h3>
								</div>
								<div id="aed-box" class="pricing-price aed">
									<div class="pts-switch-content-left"><span
											class="price-unit hide">1234</span>99<span>AED</span><span
											class="price-tenure">Annually</span></div>
								</div>
								<div id="gbp-box" class="pricing-price gbp d-none">
									<div class="pts-switch-content-left"><span class="price-unit">&pound;</span>22<span
											class="price-tenure">Annually</span></div>
								</div>
								<div id="usd-box" class="pricing-price usd d-none">
									<div class="pts-switch-content-left"><span class="price-unit">&dollar;</span>27<span
											class="price-tenure">Annually</span></div>
								</div>
								<div class="pricing-features">
									<ul>
										<li>Same as Basic</li>
										<li><strong>1 on 1</strong> Interview</li>
										<li><strong>CV</strong> Enhancement</li>
										<li><strong>1 Minute</strong> Video</li>
									</ul>
								</div>
								<div class="pricing-action">
									<div class="pts-switch-content-left"><a href="#modal-get-started"
											data-lightbox="inline" data-pricing-plan="Premium Plan"
											class="button button-large capitalize ls0"
											style="">Sign Up</a></div>
								</div>
							</div>
						</div>
						<a href="/shop_signup" class="button button-large capitalize ls0 mt-5"
							style=""> Business Sign Up</a>
					</div>

				</div>

				<div class="clear"></div>

			</div>
			<%	} %>

			<div class=""
				style=" color: #999;background:url(/images/img5.jpeg) no-repeat; background-position:center ;background-size:cover ;">
				<div class="container clearfix" style="height:45em; ">

				</div>
			</div>


			<div class="fslider testimonial testimonial-full mb-none align-items-center d-flex" data-animation="fade" data-arrows="true" style="background:#cdccb9; border-radius: 0; height: 40em;">
					<div class="flexslider">
						<div class="slider-wrap">

							<% data.map(data => {  %>
								<%if(data.comment) { %>

							<div class="slide">
								<div class="testi-image">
									<a href="#"><img style="margin-top:8em; transform: scale(2); border-radius: 1px" src="<%=data.path.slice(11)%>" alt="Customer Testimonails"></a>
								</div>
								<div class="testi-content">
									<p style="color: black"><%=data.comment%></p>
									<div class="testi-meta">
										<%=data.name%>
										<span style="font-size:1.4em"><%=data.company%></span>
									</div>
								</div>
							</div>
						<% }%>
					<%	}) %>
						</div>
					</div>
				</div>




			<div class=""
				style="padding: 30px 0; color: #999;background:url(/images/img10.jpeg) no-repeat; background-position:center ;background-size:cover ;">
				<div class="container clearfix" style="height:35em; ">

				</div>
			</div>

			

		</section><!-- #content end -->

		<%include partials/footer.ejs%>



	</div><!-- #wrapper end -->

	<%include partials/scripts.ejs%>