<%include partials/head.ejs%>
<style>

    
.PT_open_iframe {
        margin: 1em auto !important
    }

    .PT_open_iframe:nth-child() {
        display: none;
    }

    .hide {
        opacity: 0 !important;
    }
</style>

<body class="stretched">

	<%include partials/modals.ejs%>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->



		<!-- Content
		============================================= -->
		<section id="content">



			<div class="container clearfix p-3" style="background:url(images/img3.jpeg) center no-repeat; background-size: cover">

				<div id="pricing" class="page-section nopadding nomargin">

						<h3 style="text-align: center">Barista Subscription</h3>

					<div id="price-locations" style="text-align:center">

						<button id="uae" class="btn btn-md btn-danger btn-custom">UAE</button>
						<button id="usa" class="btn btn-md btn-danger btn-custom">USA</button>
						<button id="uk" class="btn btn-md btn-danger btn-custom">UK</button>

					</div>

						<div class="col-lg-12 mt-5"  style="opacity:0.8">

							<div class="pricing-box mb-5">
								<div class="pricing-title">
									<h3>Premium</h3>
								</div>
								<div id="aed-box" class="pricing-price aed">
									<div class="pts-switch-content-left"><span
											class="price-unit hide">1234</span>99<span>AED</span><span
											class="price-tenure">Annually</span></div>
								</div>
								<div id="gbp-box" class="pricing-price gbp d-none">
									<div class="pts-switch-content-left"><span class="price-unit">&pound;</span>22<span
											class="price-tenure">Annually</span></div>
								</div>
								<div id="usd-box" class="pricing-price usd d-none">
									<div class="pts-switch-content-left"><span class="price-unit">&dollar;</span>27<span
											class="price-tenure">Annually</span></div>
								</div>
								<div class="pricing-features">
									<ul>
										<li>Same as Basic</li>
										<li><strong>1 on 1</strong> Interview</li>
										<li><strong>CV</strong> Enhancement</li>
										<li><strong>1 Minute</strong> Video</li>
									</ul>
								</div>
								<div class="pricing-action">
                                        <script style="text-align:center;opacity: 0;" src="https://www.paytabs.com/express/v4/paytabs-express-checkout.js"
                                        id="paytabs-express-checkout"
                                        data-secret-key="kiEcjM5CgxpyydjW4VwYEZaC5915DDKXVoaebfRrMg0ltkhygOwUNGxSPzXtcIq76BmiQdJDtKZX5hwl52gSINLynJ1zrsGy32QU"
                                        data-merchant-id="10045288" data-url-redirect="https://www.yallabarista.com/1x2e3c987xac78kl" data-amount="99.0"
                                        data-currency="AED" data-title="Candidate Premium" data-product-names="Candidate Premium" data-order-id="5774"
                                        data-customer-phone-number="014434889995" data-customer-email-address="info@yallabarista.com" data-customer-country-code="973">
                                        </script>
                                
								</div>
							</div>
						</div>
					</div>
					
				</div>

				<div class="clear"></div>

			</div>

		</section><!-- #content end -->

		<%include partials/footer.ejs%>



	</div><!-- #wrapper end -->

	<%include partials/scripts.ejs%>