<%include partials/head.ejs%>


<body>

  <%include partials/modals.ejs%>

  <header id="header" class="split-menu">

    <div id="header-wrap" style="background:#000000 ; height: 8em">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <!-- Logo
        ============================================= -->
        <div id="logo">
          <%include partials/logo.ejs%>
        </div><!-- #logo end -->

        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu" class="with-arrows clearfix not-dark">

          <%include partials/navitems.ejs%>

        </nav><!-- #primary-menu end -->

      </div>

    </div>

  </header><!-- #header end -->

  <section id="content" class="mt-5 mb-5">

    <div class="content-wrap">

      <div class="container-fluid clearfix">

        <div class="form-widget">

          <div class="form-result"></div>

          <div class="row">
            <div class="col-lg-8 bg-shop-form" style="border-radius: 0px 0px 0px 0px"></div>
            <div class="col-lg-4 p-3" style="background:#cdccb9; border-radius: 0px 0px 0px 0px">
              <form class="row" action="/business_signup" method="post" id="business_signup">
                <div class="form-process"></div>
                <div class="col-12 form-group">
                  <label for="name">Company Name</label>
                  <input type="text" name="name" id="sname" class="form-control required" value=""
                    placeholder="Enter your Company Name">
                </div>
                <div class="col-12 form-group">
                  <label for="email">Email</label>
                  <input type="text" name="email" id="semail" class="form-control required" value=""
                    placeholder="Enter your Email">
                </div>
                <div class="col-12 form-group">
                  <label for="b_password">Account Password</label>
                  <input type="password" name="password" id="spassword" class="form-control required" value=""
                    placeholder="Enter a password">
                </div>
                <div class="col-12 form-group">
                  <label for="b_password">Confirm Password</label>
                  <input type="password" name="repassword" id="srepassword" class="form-control required" value=""
                    placeholder="Re-enter Password">
                </div>
                <div class="col-12 form-group">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label>Phone:</label>
                      <input type="text" name="phone" id="sphone" class="form-control required" value=""
                        placeholder="Enter your Phone">
                    </div>
                    <div class="col-md-6 ">
                      <label for="country">Country:</label>
                      <select class="form-control " name="country" id="scountry">
                        <option value="">-- Select One --</option>
                        <option value="UK">UK</option>
                        <option value="USA">USA</option>
                        <option value="UAE">UAE</option>
                        <option value="International">International</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-group">
                      <label for="city">City:</label>
                      <input type="text" name="city" id="city" class="form-control" value=""
                        placeholder="Enter your City">
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-12 form-group">
                      <label for="numemp">NUMBER OF EMPLOYEES YOU ARE LOOKING FOR</label>
                      <select class="form-control " name="numemp" id="numemp">
                        <option value=""></option>
                        <option value="0-25">0-25</option>
                        <option value="25-50">25-50</option>
                        <option value="50+">50</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="ideal">Ideal Barista:</label>
                    <textarea name="ideal" id="ideal" class="form-control" cols="30" rows="10"></textarea>
                  </div>

                  <div class="col_full">
                    <label for = "agreed">
                      <input type="checkbox" id="agreed" name="agreed" value="agreed"
                        style="position: relative; top: 2px; margin-right: 5px;"> I Agree to the
                      Terms &amp; Conditions
                    </label>
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" name="submit" class="btn btn-secondary">Done</button>
                </div>

                <input type="hidden" name="prefix" value="">
              </form>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section><!-- #content end -->

  <%include partials/footer.ejs%>

</body>



<%include partials/scripts.ejs%>