<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Terms & Conditions</title>

    <style>
        .spaced {
            white-space: pre;
            white-space: pre-line;
        }
    </style>
</head>

<body>
    <section id="myString" class="container spaced" style="background-color:#cbccb9 ; height: auto; ">

        <a href="javascript: history.go(-1)" class="btn btn-warning">Back</a>

        <!-- //only change inside p tags -->
        <p style="text-align: justify ">

            These Conditions of Sale apply to all purchases from Bodybuilding.com. Please read these Conditions of Sale
            carefully.

            Each time you purchase from Bodybuilding.com, you agree:


            1
            That any and all disputes, claims, or causes of action arising from or related to your purchase, the
            product(s), or product consumption will be resolved through binding arbitration in Boise, Idaho in
            accordance with the rules of the American Arbitration Association. ARBITRATION OF A DISPUTE, CLAIM OR CAUSE
            OF ACTION SHALL BE IN AN INDIVIDUAL CAPACITY AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS
            OR REPRESENTATIVE PROCEEDING.

            These Conditions of Sale shall be construed in accordance with the laws of the state of Idaho, without
            giving effect to any choice or conflict of law provision. You agree to jurisdiction in Idaho and you will
            initiate any claim in connection with use of the site or these Conditions of Sale in Ada County, Idaho.


            2
            To waive all rights to claim punitive, incidental, or consequential damages, injunctive relief, any other
            damages including attorneys’ fees, and any and all rights to have damages multiplied or otherwise increased.
            BODYBUILDING.COM SHALL NOT BE LIABLE TO YOU OR ANY OTHER PERSON OR ENTITY IN ARBITRATION OR OTHERWISE FOR
            DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES INCLUDING LOST PROFITS, PERSONAL INJURY
            (INCLUDING DEATH) AND PROPERTY DAMAGE OF ANY NATURE WHATSOEVER. IN NO EVENT SHALL BODYBUILDING.COM’S TOTAL
            LIABILITY TO YOU FOR ALL DAMAGES AND LOSSES FOR ANY CAUSE OF ACTION EXCEED THE AMOUNT PAID BY YOU, OR $100
            (WHICHEVER IS LESS).


            3
            BODYBUILDING.COM DISCLAIMS, AND YOU WAIVE, ALL EXPRESS OR IMPLIED PRODUCT RELATED REPRESENTATIONS AND
            WARRANTIES, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
            PURPOSE, TITLE, OR NON-INFRINGEMENT. THIS DISCLAIMER DOES NOT APPLY TO MANUFACTURER PRODUCT WARRANTIES (IF
            ANY).


            4
            RETURNS: If you are not satisfied with any product purchased from Bodybuilding.com you may return the same
            for a refund. Please review our return policy.


            5
            CLEARANCE ITEMS: All clearance items are final sale and may not be returned. No price adjustments will be
            given on prior sales.


            6
            PRODUCT INFORMATION: Bodybuilding.com is a retailer. Actual product packaging may contain different
            information than is displayed on our site. All product information is provided by the Product manufacturer
            and is for information purposes only. DO NOT RELY SOLELY ON THIS INFORMATION. ALWAYS READ LABELS, WARNINGS
            AND FOLLOW DIRECTIONS ON THE PRODUCT LABEL BEFORE USE. YOU HEREBY WAIVE ANY LIABILITY AGAINST
            BODYBUILDING.COM FOR INACCURACIES OR MISSTATEMENTS RELATED TO PRODUCTS MANUFACTURED BY THIRD PARTIES.


            7
            SUGGESTED RETAIL PRICE: Suggested Retail Price (“SRP”) is provided by the manufacturer and is the
            manufacturer’s representation of value. Sales may or may not be made at this price. This price does not
            necessarily represent the prevailing retail price in every community, and may not represent the price at
            which Bodybuilding.com sells the product.


            8
            MISCELLANEOUS: We reserve the right to make changes to these Conditions of Sale at any time. You will be
            subject to the Conditions of Sale in effect at the time of your purchase. THE LIMITATIONS, EXCLUSIONS AND
            DISCLAIMERS IN THESE CONDITIONS OF SALE ARE CUMULATIVE AND APPLY TO THE MAXIMUM EXTENT PERMITTED BY LAW. If
            any Condition of Sale is found to be unlawful, void, or unenforceable for any reason, then the remaining
            conditions will be valid and enforceable. These Conditions of Sale constitute the entire agreement between
            the parties governing purchases from Bodybuilding.com.


        </p>


    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        String.prototype.nl2br = function () {
            return this.replace(/\n/g, "<br />");
        }



        var myString = "test\ntest2";

        myString.nl2br();
    </script>



</body>

</html>